<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% if title %}
            <title>{{ title }} - FlashCard</title>
        {% else %}
            <title>Welcome to the FlashCard App</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}">FlashCard</a>
                </div>
                {% if current_user.is_anonymous %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                        <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                {% else %}
                <ul class="nav navbar-nav">
                    {% if current_user.ADMIN %}
                        <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}">Decks</a></li>                   
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">User: {{ current_user.username }}</a></li>    
                    <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <div style="margin-left:2.5%; margin-right: 10%">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>