{% extends "base.html" %}

{% block content %}
    <h1>Welcome to FlashCard</h1> 
    {% if current_user.is_anonymous %}
        <p>Please <a href="{{ url_for('login') }}">Log in</a> or <a href="{{ url_for('register') }}">Register</a> to continue.</p> 
    {% else %}
        <p>
            View your <a href="{{ url_for('user', username=current_user.username) }}">Decks</a>
            or <a href="{{ url_for('logout') }}">Logout</a> 
        </p>
    {% endif %}
    <hr>
    <h3>Notice</h3>
    <p>
        This app represents a demo or 'proof of concept'. As such, 
        please note, this app is <strong>not intended for production 
        use.</strong>
    </p>
    <p style="color:#ff5e5e; font-style: italic;">
        All <strong>users</strong>, <strong>decks</strong>, and <strong>cards</strong> are periodically and permenantly deleted.
    </p>
    <hr>
    <p style="color:#757575"><i>
        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </i></p>
{% endblock %}