{% extends "base.html" %} 
 
{% block content %} 
    <h1>{{ deck.name }}</h1>   
    <div>
        <a href="{{ url_for('create_card', username=current_user.username, deck=deck.id) }}">Add Card</a> |
        <a href="{{ url_for('view_all_cards', username=current_user.username, deck=deck.id) }}">Manage Cards</a> | 
        <a href="{{ url_for('user', username=current_user.username) }}">Return to Deck List</a>
    </div>    
    <hr>
    
    {% if card %}
        <h3>{{ card.front }}</h3>

        <div id="back" style="visibility: hidden;">
            <hr>
            <h3>{{ card.back }}</h3>
        </div>
        
        <!-- To be replaced -->
        <div id="show">    
            <form methods='POST' action="{{ url_for('edit_card', card_id=card.id, deck_id=deck.id) }}">
                    <a href="#" id="showBtn" class="btn btn-primary" onclick="showBack()">Show</a>
                    <button id="editBtn" class="btn" type="submit">Edit</button>
            </form>
        </div>

    {% else %}
        <h3>No cards are due at this time</h3>
    {% endif %}

    <script>
        // Function to show the back of the card and allow the user
        // to indicate whether they got it or not.
        function showBack() {
            var back = document.getElementById("back");
            var showBtn = document.getElementById("showBtn")
            var editBtn = document.getElementById("editBtn")

            // Show the back of the card and the Good/Bad buttons
            back.style.visibility = "visible";     
            
            // Hide the "show" and "edit" buttons
            showBtn.style.visibility = "hidden";    
            editBtn.style.visibility = "hidden";
            
            $('#show').html(`
                <table>
                    <tr>
                        <td>
                            <form methods='POST' action="{{ url_for('card_correct', deck_id=deck.id, card_id=card.id, i=index) }}">
                                <button class="btn btn-success" type="submit">Good</button>
                            </form>
                        </td>
                        <td>
                            <form methods='POST' action="{{ url_for('card_incorrect', deck_id=deck.id, card_id=card.id, i=index) }}">
                                <button class="btn btn-danger" type="submit">Again</button>
                            </form>
                        </td>
                    </tr>                
                    <tr>
                        <td></td>           
                        <td><i>10 min</i></td>
                    </tr>
                </table>`
            );
        }
    </script>

{% endblock %}