{% extends "base.html" %} 
 
{% block content %} 
    <h1>Decks</h1>       
    <hr>
    <form action="" method="POST" novalidate>
        <h3>Create New Deck</h3>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name }}
        </p>
        {{ form.submit(class_="btn btn-primary") }}
    </form>
    <br>
    <table class="table">      
        <h3>Current Decks</h3>  
        {% include '_message.html' %}
        {% for d in decks %}
            <tr>             
                <td><strong>{{ d.name }}</strong> ({{ d.cards.count() }} cards)</td>
                <td>
                    <form action="{{ url_for('deck', username=user.username, deck=d.id) }}">
                        <input type=submit class="btn" value="Study">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('view_all_cards', username=current_user.username, deck=d.id) }}">
                        <input type=submit class="btn" value="Manage Cards">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('edit_deck', deck_id=d.id) }}">
                        <input type=submit class="btn" value="Edit">
                    </form>   
                </td>      
                <td>
                    <form action="{{ url_for('delete_deck', deck_id=d.id) }}">
                        <input type=submit class="btn btn-danger" value="Delete">
                    </form>   
                </td> 
            </tr>
        {% endfor %}
    </table>

{% endblock %}
